<%- include("../header"); -%>
<div class="col-12">
    <h1>Lista de Tareas</h1>
    <a href="/tareas/agregar" class="btn btn-primary mb-2">Agregar</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>descripcion</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <% tareas.forEach(tarea => { %>
            <tr>
                <td><%= tarea.nombre %></td>
                <td><%= tarea.descripcion %></td>
                <td>
                    <a href="/tareas/editar/<%= tarea.id %>" class="btn btn-warning">
                        Editar
                    </a>
                </td>
                <td>
                    <a href="/tareas/eliminar/<%= tarea.id %>" class="btn btn-danger">
                        Eliminar
                    </a>
                </td>
            </tr>
            <% })%>
        </tbody>
    </table>
</div>
<%- include("../footer"); -%>